<!DOCTYPE html>
<html>
<head>
  <title>AcademiAI - Course</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</head>
<body>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <div class="navbar">
    <a class="active" href="/"><i class="fa fa-fw fa-home"></i>AcademiAI</a>
  </div>
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-3">
      <div class="sidebar">
        <h2>Table of Contents</h2>
        {% for chapter in toc %}
        <div class="chapter-link" onclick="toggleSubsections('{{ loop.index }}')">{{ chapter.title }}</div>
        <div id="{{ loop.index }}-subsections" class="subsections">
          <ul>
            {% set chapterIndex = loop.index %}
            {% for subsection in chapter.subsections %}
            <li>
              <a id="{{ chapterIndex }}-{{ loop.index - 1 }}" onclick="showContent('{{ chapterIndex }}-{{ loop.index - 1 }}','{{subsection}}')" class="nav-link">
                <span class="icon">&#x2022;</span>
                {{ subsection }}
              </a>
            </li>
            {% endfor %}
          </ul>
        </div>
        {% endfor %}
      </div>
    </div>
    <div class="col-lg-9">
      <div class="content">
        <h3 id="dummy-content-title">Hi There, Welcome to {{ course_name }}</h3>
        <div id="dummy-content">
         <!-- Default dummy content -->
          <p></p>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.0/js/bootstrap.bundle.min.js"></script>
</body>
</html>
